# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
tmp

# dependencies
node_modules
bower_components

# misc
.sass-cache
connect.lock
coverage/*
libpeerconnection.log
npm-debug.log
testem.log

# 临时取消对字体文件的跟踪
public/assets/fonts/roboto_*
.idea
.vscode
.classpath
nbproject
.DS_Store
.project
*.zip
*.rar
*.swp
src/app/**/*.css
WebContent